/* Twitter Wings */

#twitter-wings p {
	margin : 0;
}

.tw-status {
	margin-bottom : 20px;
	line-height : 1.5;
}

.tw-header {
	margin-bottom : 10px;
}

.tw-title {
	margin-bottom : 10px;
}

.tw-header .widget-title {
	margin-bottom : 5px;
}

.tw-avatar {
	float : left;
	margin-right : 8px;
}

.tw-avatar img {
	display : block;
}

.tw-text {
	margin-bottom : 0;
}

.tw-name {
	font-size : 90%;
}

.tw-display-name {
	font-size : 115%;
}

.tw-time {
	font-size : 90%;
}

.tw-time a {
	font-weight : normal;
}

#twitter-wings a:link,
#twitter-wings a:visited,
#twitter-wings a:active,
#twitter-wings a:hover { text-decoration : none; }

#twitter-wings .tw-text a:active span,
#twitter-wings .tw-text a:hover span { text-decoration : underline; }